.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}

/* Space out content a bit */

/* Customize container */

@media (min-width: 415px) {
  body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 11px;
  }

  .comparison-container {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
  }

  .comparison-container h1 {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
  }

  .comparison-container h3 {
    position: absolute;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    padding: 10px 0px;
    font-size: 1.25em;
    top: 74px;
    width: calc(100% - 40px);
  }

  .comparison-product-box {
    padding-right: 2%;
    float: left;
    display: inline-block;
  }

  .comparison-container ul {
    margin: 16px 0px 16px 0px;
    padding: 0px;
    overflow: auto;
    display: -webkit-flex;
    display: flex;
  }

  .comparison-container ul li {
    padding-right: 2%;
    display: inline;
    -webkit-flex: 1 1 12.5%;
    flex: 1 1 12.5%;
  }

  .comparison-container ul li:last-child {
    padding-right: 0;
    float: right;
  }

  .comparison-product-box select {
    padding: 5px 12px;
    width: 100%;
  }

  .comparison-product-box-spacer {
    height: 50px;
  }

  .comparison-product-box-specs table {
    width: 100%;
  }

  .comparison-product-box-specs table td {
    border: 1px solid #eee;
    padding: 12px 12px;
    font-size: 1.15em;
    line-height: 1.25em;
  }

  .comparison-product-box-specs table td p {
    margin: 0;
  }

  .comparison-product-box-specs table th {
    background-color: #fff;
    padding: 0;
    vertical-align: middle;
    height: 56px;
  }

  .comparison-product-title span.title {
    background-color: #FFF;
    padding: 12px;
    text-align: center;
    font-size: 1.25em;
    line-height: 1.15em;
    display: block;
  }

  .comparison-product-title span.arrow {
    display: none;
  }

  .comparison-product-box-specs tr:nth-child(even) {
    background: #fff;
  }

  .comparison-product-box-specs tr:nth-child(odd) {
    background: #eee;
  }

  .comparison-select-button {
    display: none !important;
  }

  .comparison-product-box-message {
    display: none;
  }

  .comparison-message {
    margin: 100px 15% 0 15%;
    background-color: #f9f9f9;
    padding: 20px;
    color: #ccc;
    text-align: center;
    font-size: 1.5em;
    font-weight: 300;
  }
}

/* Responsive: Mobiles (iPhone 6 Plus and Previous) */

@media screen and (max-width: 414px) {
  body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 11px;
  }

  .comparison-container {
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
  }

  .comparison-product-box-dropdown {
    position: relative;
  }

  .comparison-product-title span {
    display: block;
  }

  .comparison-container h1 {
    z-index: 9;
    margin-top: 0px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    padding: 10px 0px 15px 0px;
    text-align: center;
    top: 0px;
    left: 0px;
    width: 100%;
    position: fixed;
  }

  .comparison-container h3 {
    display: none;
  }

  .comparison-product-box {
    float: left;
    top: 60px;
    left: 0;
    width: 100%;
    display: inline-block;
    position: absolute;
  }

  .comparison-container ul {
    margin: 16px 0px 16px 0px;
    padding: 0px;
    width: 100%;
    overflow: auto;
    display: -webkit-flex;
    display: flex;
  }

  .comparison-container ul li {
    display: inline;
    -webkit-flex: 1 1 12.5%;
    flex: 1 1 12.5%;
  }

  .comparison-product-box select {
    padding: 5px 12px;
    font-size: 1.25em;
    top: -100px;
    width: 100%;
    position: absolute;
  }

  .comparison-product-box-spacer {
    display: none;
  }

  .comparison-product-box-specs table {
    width: 100%;
  }

  .comparison-product-box-specs table td {
    border: 1px solid #eee;
    padding: 12px 12px;
    font-size: 1em;
    line-height: 1.15em;
  }

  .comparison-product-box-specs table td p {
    margin: 0;
  }

  .comparison-product-title {
    background-color: #fff;
    padding: 16px 12px 16px 12px;
    font-size: 1.15em;
    line-height: 1.5em;
    text-align: center;
    height: 16px;
    display: -webkit-flex;
    display: flex;
  }

  .comparison-product-title span.arrow {
    -webkit-flex-shrink: 2;
    flex-shrink: 2;
  }

  .comparison-product-title span.title {
    -webkit-flex: 1 1 100%;
    flex: 1 1 100%;
  }

  .comparison-product-box-specs tr:nth-child(even) {
    background: #fff;
  }

  .comparison-product-box-specs tr:nth-child(odd) {
    background: #eee;
  }

  .comparison-select-button {
    z-index: 999;
    background-color: #ddd;
    padding: 15px;
    top: 34px;
    left: 0;
    position: fixed;
  }

  .comparison-select-button li {
    border-right: 1px solid #ccc;
    padding: 0px 15px;
    line-height: 3.25em;
    font-size: 1.25em;
    text-align: center;
  }

  .comparison-select-button li.active {
    background-color: #ccc;
  }

  .comparison-select-button li:last-child {
    border-right: none;
  }

  .comparison-product-box-message {
    margin: 100px 40px 150px 40px;
    background-color: #f9f9f9;
    color: #ccc;
    text-align: center;
    line-height: 4em;
    font-size: 1.25em;
    font-weight: 300;
  }

  .comparison-message {
    display: none;
  }

  .comparison-product-box-specs {
    margin-top: 20px;
  }

  .comparison-product-box-specs.hide.show {
    display: block;
  }

  .comparison-product-box-specs.hide {
    display: none;
  }
}