<li class="comparison-product-box">
	<div class="comparison-product-box-dropdown">
		<select ng-model="selectedItem" ng-options="item.name for item in data.items" data-options-disabled="item.isInUse for item in data.items">
			<option value="">Select an item</option>
		</select>
	</div>
	<div class="comparison-product-box-spacer"></div>
	<div class="comparison-product-box-specs" ng-swipe-right="setActiveTab('prev')" ng-swipe-left="setActiveTab('next')">
		<table ng-if="selectedItem">
			<thead>
				<tr>
					<th class="comparison-product-title"><span class="arrow">&lt; </span><span class="title">{{selectedItem.name}}</span><span class="arrow"> &gt;</span>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(key, value) in selectedItem.specs">
					<td>
						<p><strong>{{getSpecName(key)}}</strong>
						</p>
						<p>{{value}}</p>
					</td>
				</tr>
			</tbody>
		</table>
		<div ng-if="!selectedItem" class="comparison-product-box-message" ng-click="openDropdown()">
			Select a product to start compairing
		</div>
	</div>
</li>